
@model Device
@{
    ;
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Device"))
{
    <div class="form-group">
        @Html.LabelFor(d => d.Name)
        @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(d => d.Location)
        @Html.TextBoxFor(d => d.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Location)
    </div>
    @Html.HiddenFor(d=>d.Id)
    @Html.HiddenFor(d=>d.DeviceMdns)
    @Html.HiddenFor(d=>d.CultivationPlanId)
    @Html.HiddenFor(d=>d.version)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}